<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cardGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E080AFF1E26C29E0038A7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E080B131E26C29F0038A7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E080B1E1E26C29F0038A7F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
